input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

textarea {
    height: 12rem;
}

button[type=submit] {
    background-color: #1e40af;
    color: #dbeafe;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1.5rem;
}

button[type=submit]:hover {
    background-color: #1d4ed8;
}